<!-- Including the page's header -->
<%- include('partials/header.ejs') -%>

<!-- Rendering post -->
<h1><%=post.title%></h1>
<p><%=post.body%></p>

<!-- Including page's header -->
<%- include('partials/footer.ejs') -%>
